[submodule "PipePipeClient"]
	path = PipePipeClient
	url = https://github.com/TheOsmanYILDIRIM/PipePipeClient.git
	branch = dev
[submodule "PipePipeExtractor"]
	path = PipePipeExtractor
	url = https://github.com/InfinityLoop1308/PipePipeExtractor.git
